<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 필수 권한들 -->
    <!-- Bluetooth 관련 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Android 12 이상에서 필요한 Bluetooth 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 위치 관련 권한 (Bluetooth와 함께 필요함) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 위치 권한을 사용하는 경우, ACCESS_COARSE_LOCATION 권한은 Android 10 이하에서만 필요 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 기기에서 알림 정책을 변경하는 데 필요한 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SmartUmbrella"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCGlMIsZsP9fCqdyfI1vqaQnJxzVkPpXZ8"/>

        <!-- SplashActivity 설정 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SubMainActivity 추가 -->
        <activity
            android:name=".SubMainActivity"
            android:exported="true"/>

        <!-- MainActivity 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"/>

        <!-- MapActivity 추가 -->
        <activity
            android:name=".MapActivity"
            android:exported="true"/>

        <!-- SettingActivity 추가 -->
        <activity
            android:name=".SettingActivity"
            android:exported="true"/>
    </application>
</manifest>